 <div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col 12 col-lg-6">
        <div class="card-body">
            <% if @space.photos.attached? %>
              <% @space.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, crop: :fill %>
              <% end %>
            <% end %>
            <h2><%= @space.title %></h2>
            <p><strong>Space type:</strong> <%= @space.space_type %></p>
            <p><strong>Address:</strong> <%= @space.address %></p>
            <p><strong>Capacity:</strong> <%= @space.capacity %></p>
            <p><strong>Price:</strong> $<%= @space.price %></p>
          <%= link_to "Delete",
            spaces_path,
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "btn btn-danger"
          %>
          <%= link_to "Edit", edit_space_path(@space), class:"btn btn-warning" %>
          <%= link_to "All listings", spaces_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
