<%= @space.title %>


  <p>Title: <%= @space.title %></p>
  <p>Space type: <%= @space.space_type %></p>
  <p>Address: <%= @space.address %></p>
  <p>Capacity: <%= @space.capacity %></p>
  <p>Price: $<%= @space.price %></p>
