<div class ="row justify-content-center mt-3">
  <div class="col 12 col-lg-6 card-show mt-3">
    <div class="card h-100">
      <% if @space.photos.attached? %>
        <% @space.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, crop: :fill %>
        <% end %>
      <% end %>
      <div class="card-body p-5">
        <h2 class="card-title mb-2"><%= @space.title %></h2>
        <p class="card-text">Space type: <%= @space.space_type %></p>
        <p class="card-text">Address: <%= @space.address %></p>
        <p class="card-text">Capacity: <%= @space.capacity %></p>
        <p class="card-price">Price: $<%= @space.price %></p>
        <div class="booking_form mt-3">
          <div id='space-booking-dates' data-unavailable="<%= @space.unavailable_dates.to_json %>">
          <%# <%= simple_form_for [@space, @booking = Booking.new], data: { controller: 'flatpickr' } do |item| %>
          <%# <%= item.input :start_date_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %> %>
          <%# <%= item.input :end_date_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %> %>
          <%# <% end %>
          <%= simple_form_for [@space, @booking] do |item| %>
            <%= item.input :start_date_time, as: :date, html5: true, class: "form-control booking-start", data: { "disable-dates": "disableBookedDates" } %>
            <%= item.input :end_date_time, as: :date, html5: true, class: "form-control booking-end" %>
          <% end %>
          All the bookings for this space are listed below:
          <div>
              <% @space.bookings.each do |booking| %>
                <div>
                  <strong>From</strong><td><%= booking.start_date_time %></td> <strong>To</strong>
                  <td><%= booking.end_date_time %></td>
                </div>
              <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= link_to "Book Now", my_bookings_path(@space), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
