 <div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col 12 col-lg-6">
        <div class="card-body" style="height: 300px; overflow-y: auto;">
          <%# class="dark:bg-neutral-700 p-4 m-8 rounded-lg bg-white"> %>
          <%# class="block rounded-lg bg-white p-10 m-8 dark:bg-neutral-700"> %>
            <%# <%= cl_image_tag @space.photo.key, height: 300, width: 400, crop: :fill %>
            <h2><%= @space.title %></h2>
            <p><strong>Space type:</strong> <%= @space.space_type %></p>
            <p><strong>Address:</strong> <%= @space.address %></p>
            <p><strong>Capacity:</strong> <%= @space.capacity %></p>
            <p><strong>Price:</strong> $<%= @space.price %></p>
          <%= link_to "Delete",
            space_path(@space),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "btn btn-danger"
          %>
          <%= link_to "All listings", spaces_path, class: "btn btn-primary" %>
          <%= link_to "Book Now", new_space_booking_path(@space), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row g-3">
  <div class="booking_form">
    <div id='space-booking-dates' data-unavailable="<%= @space.unavailable_dates.to_json %>">
    <%= simple_form_for [@space, @booking = Booking.new], data: { controller: 'flatpickr' } do |item| %>
    <%= item.input :start_date_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= item.input :end_date_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= item.submit "Book Space", class: "btn btn-primary" %>
    <% end %>

    All the bookings for this space are listed below:
    <div>
        <% @space.bookings.each do |booking| %>
          <div>
            <strong>From</strong><td><%= booking.start_date_time %></td> <strong>To</strong>
            <td><%= booking.end_date_time %></td>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
