 <div class="container">
  <div class ="row justify-content-center mt-3">
    <div class="col 12 col-lg-6 card-show mt-3">
      <div class="card h-100">
        <%= cl_image_tag @space.photo.key || "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/claude-monets-house-and-gardens-in-giverny-france-news-photo-1042013294-1562610151.jpg?crop=1.00xw:0.753xh;0,0.0671xh&resize=640:*", class:"card-img-top mx-auto w-100" %>
          <div class="card-body">
            <h2><%= @space.title %></h2>
            <p><strong>Space type:</strong> <%= @space.space_type %></p>
            <p><strong>Address:</strong> <%= @space.address %></p>
            <p><strong>Capacity:</strong> <%= @space.capacity %></p>
            <p><strong>Price:</strong> $<%= @space.price %></p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "Book Now", new_space_booking_path(@space), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
