<h2><%= @space.title %></h2>
  <p><strong>Space type:</strong> <%= @space.space_type %></p>
  <p><strong>Address:</strong> <%= @space.address %></p>
  <p><strong>Capacity:</strong> <%= @space.capacity %></p>
  <p><strong>Price:</strong> $<%= @space.price %></p>

<%= link_to "Delete",
  space_path(@space),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to "Edit", edit_space_path(@space) %>



<%= link_to "Go Back to all lisings", spaces_path, class: "btn btn-primary" %>
