<%= simple_form_for [@space, @booking] do |item| %>
  <%= item.input :start_date_time, as: :date, html5: true %>
  <%= item.input :end_date_time, as: :date, html5: true %>
  <%=%>
  <%= item.submit "Book Space", class: "btn btn-primary" %>
<% end %>
All the bookings for this space are listed below:
<div>
    <% @space.bookings.each do |booking| %>
      <div>
        <strong>From</strong><td><%= booking.start_date_time %></td> <strong>To</strong>
        <td><%= booking.end_date_time %></td>
      </div>
    <% end %>
</div>
