 <div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col 12 col-lg-6 card-show mt-3">
      <div class="card h-100">
          <div class="card-body">
            <h2><%= @booking.space.title %></h2>
            <p><strong>Booking from</strong> <%= @booking.start_date_time %> <strong>to</strong>
            <%= @booking.end_date_time %></p>
            <p><strong>Title:</strong> <%= @booking.space.title %></p>
            <p><strong>Address:</strong> <%= @booking.space.address %></p>
            <p><strong>Price:</strong> $<%= @booking.space.price %></p>
            <div class="card-footer text-center">
              <%= link_to "Create a New Booking", new_space_booking_path(@space), class: "btn btn-primary" %>
              <%= link_to "Go Back to all lisings", spaces_path, class: "btn btn-primary" %>
              <%= link_to "Change Booking", edit_booking_path, class: "btn btn-primary" %>
              <%= link_to "Cancel Booking",
                booking_path(@booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "btn btn-danger"
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
