 <div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col 12 col-lg-6 card-show mt-3">
      <div class="card h-100">
        <%# <%= cl_image_tag @space.photo.key || "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/claude-monets-house-and-gardens-in-giverny-france-news-photo-1042013294-1562610151.jpg?crop=1.00xw:0.753xh;0,0.0671xh&resize=640:*", class:"card-img-top mx-auto w-100" %> %>
          <div class="card-body">
            <h2><%= @booking.space.title %></h2>
              <p><strong>Booking from</strong> <%= @booking.start_date_time %> <strong>to</strong>
              <%= @booking.end_date_time %></p>
              <p><strong>Title:</strong> <%= @booking.space.title %></p>
              <p><strong>Address:</strong> <%= @booking.space.address %></p>
              <p><strong>Price:</strong> $<%= @booking.space.price %></p>
              <div class="card-footer text-center">
                <%= link_to "Create a New Booking", new_space_booking_path(@space), class: "btn btn-primary" %>
                <%= link_to "Go Back to all lisings", spaces_path, class: "btn btn-primary" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
